:root {
    --font-family: sans-serif;
    --text-default-colour: #fff;
}
:root {
    // body
    --body-background-colour: #000;
    // pomodoro
    --pomodoro-outline-colour: #a3313c;
    --pomodoro-shadow-colour: #a3313c;
    // pomodoro scale
    --pomodoro-scale-background-colour: #b74845;
    // pomodoro gap
    --pomodoro-gap-background-colour: #fff;
    // pomodoro base
    --pomodoro-base-background-colour: #b74845;
    // pomodoro marks
    --pomodoro-mark-major-background-colour: #fff;
    --pomodoro-mark-minor-background-colour: #fff;
    // pomodoro indicator
    --pomodoro-indicator-background-colour: #fff;
    // pomodoro status
    --pomodoro-status-background-colour: transparent;
}
:root {
    // pomodoro
    --pomodoro-padding-inline: 32px;
    --pomodoro-padding-block: 8px;
    --pomodoro-width-factor: 4;
    --pomodoro-outline-width: 8px;
    --pomodoro-border-radius: 80px 80px 160px 160px;
    --pomodoro-shadow-blur: 16px;
    --pomodoro-shadow-spread: 16px;
    --pomodoro-shadow-offset: -16px;
    // pomodoro scale
    --pomodoro-scale-height: 96px;
    --pomodoro-scale-column-gap: 16px;
    // pomodoro gap
    --pomodoro-gap-height: 8px;
    // pomodoro base
    --pomodoro-base-height: 96px;
    // pomodoro marks
    --pomodoro-mark-major-width: 8px;
    --pomodoro-mark-major-height: 24px;
    --pomodoro-mark-major-offset-top: 4px;
    --pomodoro-mark-minor-width: 4px;
    --pomodoro-mark-minor-height: 12px;
    --pomodoro-mark-font-size: 32px;
    // pomodoro indicator
    --pomodoro-indicator-width: 48px;
    --pomodoro-indicator-height: 32px;
    // pomodoro status
    --pomodoro-status-padding-block: 8px;
    --pomodoro-status-padding-inline: 16px;
    --pomodoro-status-column-gap: 8px;
    --pomodoro-state-font-size: 10px;
}
@media (max-width: 640px) {
    :root {
        --pomodoro-width-factor: 3;
    }
}
@media (max-width: 512px) {
    :root {
        --pomodoro-width-factor: 2;
        --pomodoro-status-column-gap: 4px;
    }
}
@media (max-width: 384px) {
    :root {
        --pomodoro-width-factor: 1.30775;
    }
}